<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/wayland-bites.css" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/wayland-poo.png" | relative_url }}">
  <script src="{{ "/assets/wayland-bites.js" | relative_url }}"></script>
</head>
