.wrapper {
  max-width: 100%;
  padding-left: .5em;
  padding-right: .5em;
}

th.intra-th {
  padding-top: .2em;
  padding-bottom: .2em;
  background-color: #f0ffff;
}

td.wl-cell-bites {
  background-color: #ffe0e0;
}

td.wl-cell-licks {
  background-color: #ffffe0;
}

td.wl-cell-calm {
  background-color: #e0ffe0;
}

th.wayland-bites-column-th, th.wayland-bites-row-th, table.wayland-bites-table td {
  max-width: 12.5vw;
  box-sizing: border-box;
}

table.wayland-bites-table td, table.wayland-bites-table th {
  padding: .5em;
  overflow-wrap: break-word;
}

sup.footnote-link {
  padding: 0 1pt;
}
