th.intra-th {
  padding-top: .2em;
  padding-bottom: .2em;
  background-color: #f0ffff;
}

td.wl-cell-bites {
  background-color: #ffe0e0;
}

td.wl-cell-licks {
  background-color: #ffffe0;
}

td.wl-cell-calm {
  background-color: #e0ffe0;
}
